.forgotpassword-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgotpassword-forgot-password--uper-admin {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.forgotpassword-image359761 {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: -2px;
  height: 730px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.forgotpassword-rectangle11 {
  top: 358px;
  left: 0px;
  right: 0px;
  width: 834px;
  height: 308px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/rectangle112956-2j9m-600h.png");
  background-position: center;
}
.forgotpassword-juan-l-ucopy2 {
  left: 28px;
  width: 330px;
  bottom: 108px;
  height: 174px;
  position: absolute;
  border-color: transparent;
}
.forgotpassword-text {
  color: rgba(0, 0, 0, 1);
  right: 146px;
  bottom: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.forgotpassword-text2 {
  color: rgba(0, 0, 0, 1);
  right: 106px;
  bottom: 190px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.forgotpassword-group8986 {
  right: 91px;
  width: 355px;
  bottom: 112px;
  height: 58px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.forgotpassword-usersvgrepocom {
  top: 8px;
  left: 18px;
  width: 43px;
  height: 43px;
  position: absolute;
}
.forgotpassword-group8987 {
  right: 170px;
  width: 198px;
  bottom: 43px;
  height: 47px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgba(20, 20, 192, 1) 0%, rgba(78, 78, 243, 1) 100%);
}
.forgotpassword-text4 {
  top: 14px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Black;
  text-align: center;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.forgotpassword-navlink {
  display: contents;
}
.forgotpassword-exitfullscreensvgrepocom {
  top: 25px;
  right: 35px;
  width: 43px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.forgotpassword-textinput {
  top: 152px;
  left: 451px;
  color: #101010;
  width: 282px;
  position: absolute;
  border-width: 0px;
  background-color: transparent;
}
.forgotpassword-header {
  top: 0px;
  flex: 100;
  left: 0px;
  right: 0px;
  width: 1200px;
  height: 23px;
  margin: auto;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  transition: 0.3s;
  border-color: transparent;
  margin-right: auto;
}

@media(max-width: 767px) {
  .forgotpassword-rectangle11 {
    top: 223px;
    left: 0px;
    right: 0px;
    width: 652px;
    height: 582px;
    margin: auto;
  }
  .forgotpassword-juan-l-ucopy2 {
    top: 48px;
    left: 161px;
    position: 0px;
    padding-top: 0px;
  }
  .forgotpassword-text {
    top: 263px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .forgotpassword-text2 {
    top: 300px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .forgotpassword-group8986 {
    top: 341px;
    left: 151px;
    position: 0px;
  }
  .forgotpassword-group8987 {
    top: 432px;
    left: 231px;
    position: 0px;
  }
  .forgotpassword-exitfullscreensvgrepocom {
    top: 75px;
    right: 37px;
    position: 0px;
  }
  .forgotpassword-textinput {
    top: 355px;
    left: 211px;
  }
}
@media(max-width: 479px) {
  .forgotpassword-rectangle11 {
    width: 420px;
  }
  .forgotpassword-juan-l-ucopy2 {
    top: 81px;
    flex: 1;
    left: 92px;
    width: 253px;
    height: 143px;
    padding: 0px;
    position: absolute;
    align-self: stretch;
  }
  .forgotpassword-group8986 {
    left: 0px;
    right: 0px;
    bottom: 183px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
  .forgotpassword-group8987 {
    left: 111px;
    bottom: 80px;
    margin: auto;
    position: absolute;
  }
  .forgotpassword-exitfullscreensvgrepocom {
    top: 41px;
    right: 26px;
    position: absolute;
  }
  .forgotpassword-textinput {
    top: 354px;
    left: 106px;
    position: absolute;
  }
}
